<%- include('partials/header') %>  
<div class="container" id="pgcontacto"> 
    <div class="row justify-content-between">  
        <div class="col-5"> 
            <div class="col-4"> 
                <ul class=""> 
                    <li class="px-0 pt-0" style="list-style: none;"><span><img src="/photos/logo_transparente.png" alt=""></span></li>
                    <li class="px-0 pt-0" style="list-style: none;"><a id="opfooter" href="telf:+59390806883"><span style="padding-right: 18px;"><img src="/photos/cellf.png" alt=""></span><span style="padding-left: 5px; font-size: 15px; color: white;">+593 90806883</span></a></li>
                    <li class="px-0 py-0" style="list-style: none;"><a id="opfooter" href="mailto:familyinconection@gmail.com"><span style="padding-right: 18px;"><img src="/photos/correof.png" alt=""></span><span style="padding-left: 5px; font-size: 15px; color: white;">familyinconection@gmail.com</span></a></li>
                  </ul>
            </div> 
        </div> 
        <div class="col-5"> 
            <h2 style="color: #9B59B6;"><strong>Ponte</strong> en contacto</h2>
        <form> 
            <div class="col-10 mb-3">
                <label style="color: #27AE60;">Nombre</label>
                <input type="text" class="form-control" name="nombres"/>
              </div>
              <div class="col-10 mb-3 align-self-center">
                <label style="color: #27AE60;">Email</label>
                <input type="text" class="form-control" name="email"/>
              </div> 
              <div class="col-10 mb-3">
                <label style="color: #27AE60;">Telefono</label>
                <input type="text" class="form-control" name="telefono"/>
              </div> 
              <div class="col-10 mb-3">
                <label style="color: #27AE60;">Asunto</label>
                <input type="text" class="form-control" name="asunto"/>
              </div>   
              <div class="col-10 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" style="color: #27AE60;">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label style="color: #27AE60;" class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
              <div class="col-10 mb-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
        </form> 
    </div>
    </div>
</div>
<%- include('partials/footer') %>
