<%- include('partials/header') %> 
<div class="container-fluid text-center">  
  <div class="row align-items-end padrebg"> 
    <div class="col-4">  
    </div> 
    <div class="col-4 info"><p>"La <strong style="color: #27AE60;">Ansiedad</strong>  está ligada a la perspectiva del futuro. ¡Aprende a cambiar esa perspectiva y a reducir la ansiedad!"</p><hr style="height:2px;border-width:0;background-color:#27AE60"></div> 
    <div class="col-4"></div>
  </div>
 
<!--raya morada-->
<nav class="navbar navbar-expand-lg py-0">
  <div class="container-fluid caja1">   
    <div class="col lineam"></div> 
    <div class="col"></div> 
    <div class="col"></div>
  </div>
</nav>  
<!--informacion del body-->  
<div class="container text-center" style="padding-top: 8px; padding-bottom: 8px;"> 
<div class="row m-3"> 
  <div class="col-12"><h1 style="color: #27AE60;">Ansiedad</h1></div>  
  <!--seccion informativa de ansiedad y  foto-->
  <div class="col-12" style="padding-top: 8px; padding-bottom: 8px;"> 
    <div class="clearfix">
      <img src="/photos/ansiedad.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="ansiedad" style="border-radius: 0.375rem;">
    
      <p>
        La ansiedad en adolescentes es un fenómeno complejo que puede manifestarse de diversas maneras, afectando tanto el bienestar emocional como el funcionamiento diario.
      </p>
    
      <p>
        Desde una perspectiva psicológica, es fundamental entender que la adolescencia es una etapa crucial del desarrollo en la que los jóvenes enfrentan numerosos desafíos y cambios tanto a nivel biológico como psicosocial.
      </p> 

      <p> 
        Es importante reconocer que la etapa de cambios en los adolescentes de 13 a 15 años no siempre se debe sólo a cambios físicos, si no que la presión social y el incremento de la presión académica también influye. En el mundo uno de cada cinco adolescentes de 13 a 15 años padece algún trastorno mental (ansiedad y depresión); la detección temprana y tratamiento profesional son esenciales para prevenir
        trastornos más graves en el futuro.
      </p>
    
    </div>
  </div>   
  </div>  
  </div>
     <!--procesos cognitivos-->  
     <div class="container text-center">
     <div class="row mb-3"> 
      <div class="col-12"> 
        <div id="boxcogniti" class="card mb-3">
          <img src="/photos/efectoscog.jpg" class="card-img-top" alt="efectos">
          <div class="card-body">
            <h1 class="card-title" style="color: #27AE60;">¿Cómo afecta la ansiedad en los Procesos Cognitivos?</h1>
            <p class="card-text">La ansiedad puede causar un impacto bastante significativo en los procesos cognitivos, afectando la manera en que una persona piensa, procesa información y toma decisiones.</p> 
            <p class="card-text">Podemos mencionar algunas secuelas cognitivas de la ansiedad:</p> 
            <p class="d-inline-flex gap-1">
              <a class="btn" style="color: #530572; background-color: rgb(187, 183, 183);" data-bs-toggle="collapse" href="#collapselectiva" role="button" aria-expanded="false" aria-controls="collapselectiva">
                <strong>Atención Selectiva</strong>
              </a> 
              <a class="btn" style="color: #530572; background-color: rgb(187, 183, 183);" data-bs-toggle="collapse" href="#collapmemoria" role="button" aria-expanded="false" aria-controls="collapmemoria">
                <strong>Memoria</strong>
              </a> 
              <a class="btn" style="color: #530572; background-color: rgb(187, 183, 183);" data-bs-toggle="collapse" href="#collapdecisiones" role="button" aria-expanded="false" aria-controls="collapdecisiones">
                <strong>Toma de Decisiones</strong>
              </a> 
              <a class="btn" style="color: #530572; background-color: rgb(187, 183, 183);" data-bs-toggle="collapse" href="#collapemoacional" role="button" aria-expanded="false" aria-controls="collapemoacional">
                <strong>Procesamiento Emocional</strong>
              </a> 
              <a class="btn" style="color: #530572; background-color: rgb(187, 183, 183);" data-bs-toggle="collapse" href="#collapbloqueo" role="button" aria-expanded="false" aria-controls="collapbloqueo">
                <strong>Bloqueo Cognitivo</strong>
              </a>
            </p>  
            <!--Atencion selectiva info-->
            <div class="collapse" id="collapselectiva"> 
              <div class="card card-body"> 
                <h3 class="card-title" style="color: #9B59B6;">Atención selectiva</h3>
                Esta capacidad podría verse afectada por la ansiedad ya que dificultaría la
                discriminación entre todos esos datos, haciendo que la atención selectiva no fuera
                todo lo rápida y eficaz que debería en condiciones normales. Las personas ansiosas
                están más enfocadas en los aspectos que podrían ser preocupantes de su entorno, lo
                que puede resultar en una percepción sesgada de la realidad.
              </div>
            </div> 
            <!--memoria info-->  
            <div class="collapse" id="collapmemoria"> 
              <div class="card card-body"> 
                <h3 class="card-title" style="color: #9B59B6;">Memoria</h3>
                La ansiedad afecta la memoria de varias maneras, entre ellas, aumenta la memoria
                para eventos negativos o amenazantes, mientras que la memoria para eventos
                neutrales o positivos puede disminuir. Esto contribuye a la persistencia de
                pensamientos ansiosos.
              </div>
            </div>  
            <!--toma de decisiones info-->  
            <div class="collapse" id="collapdecisiones"> 
              <div class="card card-body"> 
                <h3 class="card-title" style="color: #9B59B6;">Toma de Decisiones</h3>
                La ansiedad también debilita nuestra habilidad de poder tomar decisiones de forma
                racional. Cuando estamos atravesando un episodio de ansiedad, será más probable
                que nos cueste tomar una decisión de manera racional.
              </div>
            </div> 
            <!--procesamiento emocional info-->  
            <div class="collapse" id="collapemoacional"> 
              <div class="card card-body"> 
                <h3 class="card-title" style="color: #9B59B6;">Procesamiento Emocional</h3>
                Otro factor cognitivo que se ve afectado es con la identificación y el procesamiento de
                las emociones. La persona podría experimentar dificultades al momento de reconocer
                emociones tanto de él mismo como con los demás.
              </div>
            </div> 
            <!--bloqueo cognitivo info-->  
            <div class="collapse" id="collapbloqueo"> 
              <div class="card card-body"> 
                <h3 class="card-title" style="color: #9B59B6;">Bloqueo Cognitivo</h3>
                En situaciones de alta ansiedad, algunas personas pueden experimentar bloqueo
                cognitivo, lo que dificulta el acceso a la información almacenada en la memoria o la
                generación de soluciones creativas a problemas.
              </div>
            </div>
  
          </div>
        </div>
       </div>  
     </div>
     </div>
     <!--si llegaste hasta aqui section-->
     <!--<div class="container text-center">  --> 
      <div class="container text-center">
      <div class="row mb-3">
      <div class="col-12 align-self-center">  
        <div class="col"><img src="/photos/onlylogo.png" class="img-thumbnail rounded mx-auto d-block" width="245px" height="89px" style="border: none;"></div> 
        <div class="col"><h1 style="text-align: center; color: #9B59B6;">Si llegaste hasta aquí <strong>ten en cuenta...</strong></h1></div> 
        <div class="col"><p>La superación de la ansiedad no es una carrera, sino una travesía personal. Cada día que decides desafiar tus miedos, estás escribiendo tu propia historia de valentía.</p></div>
      </div>
     </div>   
     </div>
     <!--</div>-->
    <!--Seccion de iniciar sesion--> 
   <div class="container text-center"> 
    <div class="row align-items-center mb-3" id="bloquesesion" style="border-radius: 10px;">  
      <div class="col"></div>  
      <div class="col align-self-end"><a id="btnSesion" href="/login"><strong>Iniciar Sesion</strong></a></div>
      <div class="col"></div> 
    </div>
   </div>
  <!-- seccion beneficios-->   
   <div class="container text-center">
  <div class="row my-4 justify-content-center"> 
  <div class="col col-12 my-2"><h1 style="color: #9B59B6;"><strong>La terapia psicológica,</strong> por si misma, tiene <strong>múltiples beneficios</strong></h1></div>
  <div class="col-3 mb-3 px-1"> 
    <div id="boxbenefi" class="card" style="width: 18rem;">
      <img src="/photos/frase1.png" class="card-img-top" alt="procesos">
      <div class="card-body">
        <!--<h5 class="card-title" style="color: #27AE60;">Procesos Cognitivos</h5>-->
        <p id="infobeneficios" class="card-text">Cada nuevo amanecer es una oportunidad para reinventarte y alcanzar tus sueños</p>  
        <!--<p class="card-text">“El sistema cognitivo humano tiene una capacidad limitada para utilizar estos procesos. 
          Muchas de las dificultades que encontramos a la hora de realizar acciones complejas tienen 
          que ver con esta limitación”. (Manzanero, 2006, cómo se citó en Manrique, 2020)
        </p> 
        <p class="card-text"> 
          Estos procesos son fundamentales para comprender cómo los individuos perciben, procesan 
          y utilizan la información que reciben del entorno.
        </p>-->
        <!--<a href="/procesos" class="btn btn-primary">Ver mas..</a>-->
      </div>
    </div>
  </div>  

  <!-- contenido segundo card-->
  <div class="col-3 mb-3 px-1"> 
    <div id="boxbenefi" class="card" style="width: 18rem;">
      <img src="/photos/frase2.png" class="card-img-top" alt="procesos">
      <div class="card-body">
        <!--<h5 class="card-title" style="color: #27AE60;">Procesos Cognitivos</h5>-->
        <p id="infobeneficios" class="card-text">El progreso no es siempre rápido, pero cada paso cuenta. No subestimes el poder de la consistencia</p> 
        <!--<p class="card-text">“El sistema cognitivo humano tiene una capacidad limitada para utilizar estos procesos. 
          Muchas de las dificultades que encontramos a la hora de realizar acciones complejas tienen 
          que ver con esta limitación”. (Manzanero, 2006, cómo se citó en Manrique, 2020)
        </p> 
        <p class="card-text"> 
          Estos procesos son fundamentales para comprender cómo los individuos perciben, procesan 
          y utilizan la información que reciben del entorno.
        </p>-->
        <!--<a href="/procesos" class="btn btn-primary">Ver mas..</a>-->
      </div>
    </div>
  </div>  

   <!-- contenido tercero card-->
   <div class="col-3 mb-3 px-1"> 
    <div id="boxbenefi" class="card" style="width: 18rem;">
      <img src="/photos/frase3.png" class="card-img-top" alt="procesos">
      <div class="card-body">
        <!--<h5 class="card-title" style="color: #27AE60;">Procesos Cognitivos</h5>-->
        <p id="infobeneficios" class="card-text">Eres más fuerte de lo que piensas. No te subestimes, porque tu potencial es ilimitado.</p> 
        <!--<p class="card-text">“El sistema cognitivo humano tiene una capacidad limitada para utilizar estos procesos. 
          Muchas de las dificultades que encontramos a la hora de realizar acciones complejas tienen 
          que ver con esta limitación”. (Manzanero, 2006, cómo se citó en Manrique, 2020)
        </p> 
        <p class="card-text"> 
          Estos procesos son fundamentales para comprender cómo los individuos perciben, procesan 
          y utilizan la información que reciben del entorno.
        </p>-->
        <!--<a href="/procesos" class="btn btn-primary">Ver mas..</a>-->
      </div>
    </div>
  </div>  
   
  <div class="row justify-content-center my-3">
  <!-- contenido cuarto card-->
  <div class="col-3 mb-3"> 
    <div id="boxbenefi" class="card" style="width: 18rem;">
      <img src="/photos/frase4.png" class="card-img-top" alt="procesos">
      <div class="card-body">
        <p id="infobeneficios" class="card-text">La salud mental es una inversión, no un gasto. Invierte tiempo en cuidar tu bienestar emocional</p> 
      </div>
    </div>
  </div>  

  <!-- contenido quinto card-->
  <div class="col-3 mb-3"> 
    <div id="boxbenefi" class="card" style="width: 18rem;">
      <img src="/photos/frase5.png" class="card-img-top" alt="procesos">
      <div class="card-body">
        <p id="infobeneficios" class="card-text">La salud mental es como un jardín; requiere paciencia, atención constante y la capacidad de arrancar las malas hierbas que amenazan su crecimiento</p> 
      </div>
    </div>
  </div> 
 
</div>  
</div> 
</div>
<!-- contenido contactanos-->   
<div class="container text-center" id="bloquecnt"> 
  <div class="row"> 
    <div class="col align-self-start py-2 mb-3"> 
      <span style="color: white; font-size: 45px;"><strong>Estamos para ayudarte</strong> 
        <hr style="height:2px; width:36%; background-color:#27AE60; margin-top: 0.50rem; margin-bottom: 0.50rem; margin-left: 52%;">
      </span>
    </div> 
    <div class="col"></div>
  </div> 
  <div class="row"> 
    <div class="col align-self-start pb-5 ms-5"> 
      <span style="color: white; font-size: 15px;">Haz tu consulta sin compromiso, con atención personalizada</span>
    </div> 
    <div class="col"></div>
  </div> 
  <div class="row mt-5"> 
    <div class="col align-self-start"> 
      <a id="btnContact" href="/contactanos"><strong>Contactanos</strong></a>
    </div> 
    <div class="col"></div>
  </div>
<!--<div class="row mb-3" id="bloquecontact">  
  <div class="col align-self-start"><span style="color: white; font-size: 25px;"><strong>Estamos para ayudarte</strong></span></div>
  <div class="col align-self-center"><span style="color: white; font-size: 15px;">Haz tu consulta sin compromiso, con atención personalizada</span></div> 
  <div class="col align-self-center"><a id="btnContact" href="/contactanos"><strong>Contactanos</strong></a></div> 
</div> -->
</div>
<!--Preguntas frecuentes-->  
<div class="container text-center">
<div class="row mb-3">  
  <div class="col-12 p-0" style="background-color: #9B59B6; color: white; border-radius: 0.375rem;"><h1>Preguntas frecuentes</h1></div>
<div class="col-12"> 
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #27AE60;">
          <strong>¿Qué es family in conection y qué ofrece?</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>FAMILY IN CONECTION</strong> es una plataforma interactiva especialmente dirigida para padres con hijos adolescentes de 13 a 15 años, con esta herramienta virtual psicoeducativa queremos promover un mejor desarrollo al bienestar familiar, personal y social, disminuir las emociones negativas (ansiedad, depresión) de nuestros adolescentes y reparar la comunicación y conexión familiar comprendiendo el estado de ánimo y problemas de nuestros hijos.
        </div>
      </div>
    </div> 
     <!--pregunta 2--> 
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #27AE60;">
          <strong>¿Cómo funciona?</strong>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Sabemos que tomar medidas para ayudar a nuestros hijos con su estado emocional y poder mantener la conexión familiar no es fácil. Así que queremos que el proceso y el apoyo psicológico sea lo más cómodo, seguro y accesible.
        </div>
      </div>
    </div> 
      <!--pregunta 3--> 
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #27AE60;">
          <strong>¿Cuáles son los beneficios de utilizar nuestra plataforma family in conection?</strong>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Con apoyo de nuestra plataforma se va ayudar a restaurar e incentivar el apoyo emocional y el equilibrio entre los miembros tu familia, ayudaremos a que puedas abordar los problemas de autoestima y puedas comprender de una manera más clara a tu adolescente, El beneficio de <strong>FAMILY IN CONECTION</strong> es mejorara la comprensión mutua y que se consiga un ambiente sano y armónico en el entorno familiar. 
        </div>
      </div>
    </div> 
      <!--pregunta 4-->  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color: #27AE60;">
            <strong>¿En qué ayuda esta plataforma de orientación a los padres?</strong>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="text-align: justify;">
            <ul> 
              <li>Enseñar estrategias a los padres para que acompañen a sus hijos en momentos de ansiedad</li> 
              <li>Mejorar el vínculo entre padres e hijos</li> 
              <li>Promuever la conversación y la armonía familiar</li>
            </ul>
          </div>
        </div>
      </div> 
  </div>
</div>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<%- include('partials/footer') %>