<%- include('partials/headerTeens') %>  
<div class="container"> 
    <div class="row"> 
        <div class="col-12 my-5" id="colum_opteens"> 
            <nav class="nav flex-column">
                <a class="nav-link active my-3" aria-current="page" href="#">Home</a> 
                <a class="nav-link my-3" href="#">Biblioteca</a>
                <a class="nav-link my-3" href="#">Ansiedad</a>
                <a class="nav-link my-3" href="#">Emociones</a>
                <a class="nav-link my-3" href="#">Contactar</a> 
                <a class="nav-link my-3" href="#">Cerrar Sesión</a>
              </nav>
        </div> 
    </div>
</div> 
<br>
<br> 
<br> 
<br>
<br>
<%- include('partials/footer') %>