<%- include('partials/header') %>   
<div class="container" style="padding-top: 8px; padding-bottom: 8px;"> 
    <div class="row"> 
      <div class="col-12"><h1 style="color: #27AE60;">Ansiedad</h1></div> 
      <div class="col-12" style="padding-top: 8px; padding-bottom: 8px;"> 
        <div class="clearfix">
          <img src="/photos/ansiedad.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="ansiedad">
        
          <p>
            La ansiedad en adolescentes es un fenómeno complejo que puede manifestarse de diversas maneras, afectando tanto el bienestar emocional como el funcionamiento diario.
          </p>
        
          <p>
            Desde una perspectiva psicológica, es fundamental entender que la adolescencia es una etapa crucial del desarrollo en la que los jóvenes enfrentan numerosos desafíos y cambios tanto a nivel biológico como psicosocial.
          </p> 
    
          <p> 
            Es importante reconocer que la etapa de cambios en los adolescentes de 13 a 15 años no siempre se debe sólo a cambios físicos, si no que la presión social y el incremento de la presión académica también influye. En el mundo uno de cada cinco adolescentes de 13 a 15 años padece algún trastorno mental (ansiedad y depresión); la detección temprana y tratamiento profesional son esenciales para prevenir
            trastornos más graves en el futuro.
          </p>
        
        </div>
      </div>   
      </div> 
      </div>
<%- include('partials/footer') %> 