<%- include('partials/header') %> 
<div class="container"> 
    <div class="row"> 
        <div class="col-12 my-5 py-3" style="text-align: center;"><h2 style="color: #9B59B6;">Registro <strong>Exitoso</strong></h2> </div>  
        <br> 
        <br>
        <div class="col" style="text-align: center;"><a id="btnSesion" href="/"><strong>Regresar al Inicio</strong></a></div>
    </div>
</div> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<%- include('partials/footer') %>