<%- include('partials/header') %>
<div class="container">
  <br />
  <h1>Registro de Usuario</h1>
  <br />
  <br />
  <div class="row g-3">
    <form action="/signup" method="POST">
      <div class="col-md-6">
        <label>Nombres</label>
        <input type="text" class="form-control" name="nombres"/>
      </div>
      <div class="col-md-6">
        <label>Apellidos</label>
        <input type="text" class="form-control" name="apellidos"/>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email"/>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4" name="contrasena"/>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label"
          >Confirmar Contraseña</label
        >
        <input type="password" class="form-control" id="inputPassword4" />
      </div>
      <br /> 
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label style="color: #27AE60;" class="form-check-label" for="flexCheckDefault">
          Acepto terminos y condiciones
        </label>
      </div> 
      <br>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </form> 
  </div>  

</div> 
<br>
<%- include('partials/footer') %>
