<div class="container-fluid text-center px-0">
    <div class="row justify-content-between py-3" id="footbox">  
        <div class="col-4"> 
            <ul class=""> 
                <li class="px-0 pt-0" style="list-style: none;"><span><img src="/photos/logo_transparente.png" alt=""></span></li>
                <li class="px-0 pt-0" style="list-style: none;"><a id="opfooter" href="telf:+59390806883"><span style="padding-right: 18px;"><img src="/photos/cellf.png" alt=""></span><span style="padding-left: 5px; font-size: 15px; color: white;">+593 90806883</span></a></li>
                <li class="px-0 py-0" style="list-style: none;"><a id="opfooter" href="mailto:familyinconection@gmail.com"><span style="padding-right: 18px;"><img src="/photos/correof.png" alt=""></span><span style="padding-left: 5px; font-size: 15px; color: white;">familyinconection@gmail.com</span></a></li>
              </ul>
        </div> 
        <div class="col-2" ><a class="p-1" id="opfooter" style="font-size: 20px;" href="#"><strong>Nosotros</strong></a></div> 
        <div class="col-2" ><a class="p-1" id="opfooter" style="font-size: 20px;" href="#"><strong>Contáctanos</strong></a></div> 
        <div class="col-2" ><a class="p-1" id="opfooter" style="font-size: 20px;" href="#"><strong>Registrarse</strong></a></div> 
        
    </div> 
    </div> 
    
    </body>
    </html>